@import url('https://fonts.googleapis.com/css2?family=Bowlby+One+SC&family=Shadows+Into+Light&family=Thasadith:wght@400;700&display=swap');
/* Colors
color-shade-1: #A57D32
color-shade-2: #8A724E
color-shade-3: #1D0205
color-shade-4: #8d5e18


font-family: 'Bowlby One SC', cursive;
font-family: 'Shadows Into Light', cursive;
font-family: 'Thasadith', sans-serif;
*/
:root {
    --bg-dark: #000;
    --color-shade-1: #caab72;
    --color-shade-2: #d68914;
    --color-shade-3: #8d5e18;
    --color-shade-4: #1D0205;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Bowlby One SC', cursive;
    background-color: var(--color-shade-1);
    color: #1D0205;
    overflow: hidden;
}

h1, h2 {
    font-size: 30px;
    padding-bottom: 10px;
    text-shadow: 3px 3px 1px #8d5e18;
}

p {
    font-family: 'Arial', Arial, Helvetica, sans-serif;
    font-weight: 600;
    color: #f4f4f4;
}

/* Buttons */
.btn {
    display: inline-block;
    text-decoration: none;
    color: #8d5e18;
    background-color: var(--color-shade-4);
    padding: 17px 40px;; 
    margin: 0 5px;
    border-radius: 2px;
    transition: all .4s ease-in-out;
}

.btn-next:hover {
    background-color: var(--color-shade-3);
    /* box-shadow: 4px 4px 3px #3a2d01; */
    color: #1D0205;
}

.btn-prev {
    background-color: var(--color-shade-3);
    color: #1D0205;
}

.btn-prev:hover {
    background-color: var(--color-shade-4);
    /* box-shadow: 3px 3px 2.5px #64420e; */
    color: #8d5e18;
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
    padding: 20px;
    padding-top: 7rem;
    background-image: url(/img/header-one.jpg);
    background-color: #000;
    background-repeat: no-repeat;
    background-position-y: top;
    background-position-x: center;
    background-size: cover;
    position: relative;
}

.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.2);
}
.hero * {
    z-index: 10;
}

.hero-content {
    padding: 0 1rem;
}

.hero-content h1 {
    font-size: 35px;
    margin-bottom: 10px;
}

.hero-content p {
    font-size: 18px;
    line-height: 1.4;
    margin: 0 auto;
    color: #fff;
    padding: 1rem;
    background-color: rgba(22,22,22,0.4);
    border-radius: 10px;
    max-width: 900px;
}

.hero-content .btn {
    margin-top: 20px;
    padding: 17px 40px;
}

/* Slide */
.slide {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.slide .content {
    display: flex;
    flex-direction: column;
    height: 100%;
    /* margin: 0 50px 0 10px; */
    padding: 30px;
}

.content p {
    padding-bottom: 20px;
    font-size: 16px;
    line-height: 1.5;
    color: #f4f4f4;
}

#slide-1 { background: url(/img/season-01.jpg)no-repeat top center/cover; }
#slide-1 .content {
    align-items: flex-start;
    justify-content: center;
}
#slide-1 .content p {
    max-width: 800px;
}


#slide-2 { background: url(/img/season-02.jpg)no-repeat center center/cover; }
#slide-2 .content {
    align-items: flex-end;
    justify-content: center; 
    text-align: right;
}
#slide-2 .content p {
    max-width: 700px;
}

#slide-3 { background: url(/img/season-03.jpg)no-repeat top center/cover; }
#slide-3 .content {
    align-items: flex-start;
    justify-content: center; 
    text-align: left;
}
#slide-3 .content p {
    max-width: 700px;
}

#slide-4 { background: url(/img/final-season.jpg)no-repeat top center/cover; }
#slide-4 .content {
    align-items: flex-start;
    justify-content: center; 
    text-align: left;
}
#slide-4 .content p {
    max-width: 700px;
}

#slide-5 { background: url(/img/400-days.jpg)no-repeat top center/cover; }
#slide-5 .content {
    align-items: flex-start;
    justify-content: center; 
    text-align: left;
}
#slide-5 .content p {
    max-width: 700px;
}
#slide-6 { background: url(/img/michonne.png)no-repeat top center/cover; }
#slide-6 .content {
    align-items: flex-end;
    justify-content: center; 
    text-align: center;
}
#slide-6 .content p {
    max-width: 700px;
}

/* Todo */
/* 
    todo: Re-arrange slides according to season order of release 
    todo: Add background opacity to slide paragraphs
    todo: Add award plaque page
    todo: Add footer
*/

/* ?Order of release */
/*
*Season 1
"400 Days" (DLC)
Season 2
Michonne
Season 3 
Final season 
*/